input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 400px;
  max-width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  overflow: hidden;
  height: 20px;
  -webkit-appearance: none;
  background-color: #ddd;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  -webkit-appearance: none;
  color: #444;
  transition: box-shadow 0.2s ease-in-out;
  background: #ddd;
}

input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 20px;
  cursor: ew-resize;
  background: #fff;
  box-shadow: -330px 0 0 320px var(--color-primary, #1597ff), inset 0 0 0 40px var(--color-primary, #1597ff);
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}

input[type="range"]:active::-webkit-slider-thumb {
  background: #fff;
  box-shadow: -330px 0 0 320px var(--color-primary, #1597ff), inset 0 0 0 3px var(--color-primary, #1597ff);
}

input[type="range"]::-moz-range-progress {
  background-color: var(--color-primary, #1597ff);
}
input[type="range"]::-moz-range-track {
  background-color: #ddd;
}

input[type="range"]::-ms-fill-lower {
  background-color: var(--color-primary, #1597ff);
}

input[type="range"]::-ms-fill-upper {
  background-color: #ddd;
}
